@using VodafoneWeb
@{
    ViewBag.Title = "Home Page";
}



<div>
    @(Html.Kendo().Window()
          .Name("window")
          .Title("Choose Dealer")
          .LoadContentFrom("SelectDealer", "Dealers")
          .Draggable(false)
          .Actions(actions => {})
          .Scrollable(false)
          .Modal(true).Visible(false)
          .HtmlAttributes(new { style = "margin: 10px" })
    )
</div>

<h2>IMEI in stock over 50 days</h2>

﻿@(Html.Kendo().Grid<VodafoneWeb.Models.InventoryViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(i => i.StockInDate).Format("{0: dd/MMM/yyyy}").Width(180);
          columns.ForeignKey(i => i.StockInUserId, (System.Collections.IEnumerable)ViewData["users"], "UserId", "UserName").Title("StockInUser").Width(150);
        columns.Bound(i => i.IMEI).Width(150);
        columns.ForeignKey(i => i.ProductId, (System.Collections.IEnumerable)ViewData["products"], "ProductId", "ProductName").Title("Product").Width(150);
        columns.Bound(i => i.Status).Width(150);
          columns.Bound(i => i.Note).Width(180);
          columns.Bound(i => i.Type).Width(150);
          //columns.Bound(i => i.PurchasedFrom).Width(150);
          //columns.ForeignKey(i => i.PurchasedById, (System.Collections.IEnumerable)ViewData["users"], "UserId", "UserName").Title("PurchasedBy").Width(150);
          //columns.Bound(i => i.DefferCode).Width(150);
          //columns.Bound(i => i.DefferName).Width(150);
          //columns.Bound(i => i.DefferOrderNo).Width(150);
      })
          .Pageable(p => p.PageSizes(true))
          .Scrollable(s => s.Height("250px"))
              .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
              .Resizable(resizing => resizing.Columns(true))
              .Reorderable(reordering => reordering.Columns(true))
                      .NoRecords("No record")
      .DataSource(dataSource => dataSource
          .Ajax()
              .Model(model => model.Id( i => i.ID))
                  .Sort(sort => sort.Add("StockInDate").Ascending())
          .Read(read => read.Action("Inventories50D_Read", "Inventory"))
)
        )   


<script>
    //function change() {
    //    var value = $("#color").val();
    //};

    $(document).ready(function () {
        //$("#get").click(function () {
        //    var color = $("#color").data("kendoDropDownList");

        //    alert('Thank you! Your Choice is:\n\nColor ID: ' + color.value());
        //});

        @if(Session["DealerId"] == null)
        {
            <text>
                $("#window").data("kendoWindow").open().center(true);
            </text>
            
        }
    });
</script>
<style>
    #window{
        overflow-x: hidden;
    }
</style>