<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vodafoneweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vodafoneweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vodafoneweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$vodafoneweb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="VodafoneWeb.MySqlHistoryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:isgt2oib67.database.windows.net,1433;Initial Catalog=vodafonewebdb;User ID=vodafonedb@isgt2oib67;Password=RWK29dca" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VodafoneWeb.MySqlHistoryContext, VodafoneWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:isgt2oib67.database.windows.net,1433;Initial Catalog=vodafonewebdb;User ID=vodafonedb@isgt2oib67;Password=RWK29dca" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VodafoneWeb.Models.ApplicationDbContext, VodafoneWeb" MigrationConfiguration="VodafoneWeb.Migrations.Configuration, VodafoneWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:isgt2oib67.database.windows.net,1433;Initial Catalog=vodafonewebdb;User ID=vodafonedb@isgt2oib67;Password=RWK29dca</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VodafoneWeb.MySqlHistoryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:isgt2oib67.database.windows.net,1433;Initial Catalog=vodafonewebdb;User ID=vodafonedb@isgt2oib67;Password=RWK29dca</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="VodafoneWeb.MySqlHistoryContext" />
  </ItemGroup>
</Project>